


<section id="featuredProjects" class="pt-[5em] pb-[5em]">

    <h2 class=" text-white text-[20px] font-bold w-[90%] m-auto max-w-[1280px]">Featured projects</h2>

    <div class="projectWrap mx-[1.5em] m-auto pt-[2em] flex flex-col gap-[1.5em]">


{{ collection:featured_projects }}

{{ main_pic }}

        <div class="project bg-cover  w-full p-[5em] pt-[15em]" style="background-image: url(' {{ glide:url }} '); background-position: {{ focus | background_position }};">

            {{ /main_pic }}

            <div class="project-con max-w-[400px]">

                <p class="projectPSmall text-[#DEDEDE] text-[13px] font-normal ">{{ service_used }}</p>
                <h2 class="projectH2 text-white text-[35px] font-bold pb-[0.3em]  ">{{ title }}</h2>
                <p class="projectP text-[#DEDEDE] text-[16px] font-light pb-[2em]">{{ sub_title_text }}</p>

                <a href="{{ url }}" class=" border-white border-2 text-white py-[0.8em] px-[1.5em] block w-fit hover:text-[#0C101D] hover:bg-white ">View project</a>

            </div>

        </div>

{{ /collection:featured_projects }}


</div>

</section>
