{{ partial:com/hero-pages title="ABOUT ME" subTitle="I currently work full-time in-house as the Head of Marketing and Head of UI/UX Design at HLRLookup.com."}}


<section id="about" class=" bg-white pt-[5em] pb-[5em] mb-[5em]">


    <div class="about w-[90%] max-w-[1280px] m-auto flex gap-[3em] justify-between border-b-[1px] border-[#E5E5E5] pb-[3em]">


        <div>

        <img class="" src="/assets/hero-image.png" alt="Adam Smallman Hero Image">

    </div>

    <div class="w-full">

        <p class="font-light text-[#6D7077] text-[16px]">For over six years, I’ve been designing and building digital experiences that don’t just look great but feel great to use. I’m passionate about challenging ideas, refining details, and making sure every project reaches its full potential—because good design isn’t just about aesthetics; it’s about creating something intuitive, engaging, and genuinely useful.<br><br>

            I’m based in Cannock, but I’ve worked with clients both remotely and on-site, spanning a variety of industries and project sizes. Over the years, I’ve developed a smooth and transparent workflow that keeps things efficient and stress-free—because let’s be honest, no one likes endless back-and-forths or unexpected surprises. Communication is key, and I make sure every project runs as seamlessly as possible from start to finish.<br><br>

            When it comes to pricing, I keep things flexible. Depending on the scope of the project, I offer either a day rate or a fixed price, making sure everything is clear from the get-go. Whether you need a fresh UI design, frontend development support, or a full-scale digital revamp, I’m here to bring your ideas to life in the best way possible.<br><br>

Let’s create something amazing together!

        </p>

</div>


<div class="w-full max-w-[300px]">

    <h2 class="text-[#0C101D] text-[16px] font-bold  pb-[1em]">DIGITAL CAPABILITIES</h2>

    <ul>

        <li class="font-light text-[#6D7077] text-[16px]">Websites</li>
        <li class="font-light text-[#6D7077] text-[16px]">iOS and Android Apps</li>
        <li class="font-light text-[#6D7077] text-[16px]">Strategy</li>
        <li class="font-light text-[#6D7077] text-[16px]">Research</li>
        <li class="font-light text-[#6D7077] text-[16px]">E-commerce Design</li>
        <li class="font-light text-[#6D7077] text-[16px]">Digital Marketing</li>
        <li class="font-light text-[#6D7077] text-[16px]">Frontend Developer</li>

    </ul>

    <h2 class="text-[#0C101D] text-[16px] font-bold  pb-[1em] pt-[1.5em]">BRAND CAPABILITIES</h2>

    <ul>

        <li class="font-light text-[#6D7077] text-[16px]">Art Direction</li>
        <li class="font-light text-[#6D7077] text-[16px]">Photography</li>
        <li class="font-light text-[#6D7077] text-[16px]">Post-Production</li>
        <li class="font-light text-[#6D7077] text-[16px]">Campaigns</li>
        <li class="font-light text-[#6D7077] text-[16px]">Positioning</li>
        <li class="font-light text-[#6D7077] text-[16px]">Identity</li>

    </ul>


</div>

    </div>


    <div class="about w-[90%] max-w-[1280px] m-auto flex gap-[3em] justify-between pt-[3em]">

        <div class="w-full">

            <h2 class="text-[#0C101D] text-[25px] font-bold">CONTACT</h2>

            </div>

            <div class="w-full">


                <h2 class="text-[#0C101D] text-[16px] font-bold  pb-[1em]">Let's Work Together</h2>

    <ul>

        <li class="font-light text-[#6D7077] text-[16px]">adamsmallman123@gmail.com</li>
        <li class="social flex gap-[0.5em] pt-[0.5em]">

                <a href="https://www.instagram.com/adamsmallman/" target="_blank"> <img src="/assets/insta_colour.svg"/> </a>

                <a href="https://www.linkedin.com/in/admaitland/" target="_blank"> <img src="/assets/linkedin_colour.svg"/> </a>

        </li>


    </ul>

            </div>


            <div class="w-full">


                <h2 class="text-[#0C101D] text-[16px] font-bold  pb-[1em] ">Experience</h2>

    <ul>

        <li class="font-light text-[#6D7077] text-[16px] pb-2">Head of Marketing and UI/UX Design<br><span class="font-bold">HLR Lookup</span></li>
        <li class="font-light text-[#6D7077] text-[16px] pb-2">Frontend Developer<br><span class="font-bold">Storm Events</span></li>
        <li class="font-light text-[#6D7077] text-[16px] pb-2">Creative Designer<br><span class="font-bold">Beehive Digital</span></li>
        <li class="font-light text-[#6D7077] text-[16px] pb-2">Graphic Designer<br><span class="font-bold">Oxbridge</span></li>

    </ul>

            </div>

    </div>


</section>
