{{ partial:com/hero-pages title="CONTACT ME" subTitle="Whether you're looking to collaborate, have a question, or just feel like connecting, drop me a message using the form below or shoot me an email."}}

<section id="about" class=" bg-white pt-[5em] pb-[5em] mb-[5em]">


    <div class="about w-[90%] max-w-[1280px] m-auto flex gap-[3em] justify-between">

        <div class="contact-wrap max-w-[350px] pr-[3em] w-full border-r-[1px] border-[#DEDEDE]">

            <h2 class="text-[#0C101D] text-[25px] font-bold pb-[1em]">Ways to connect with me</h2>



                <p id="email" class="email font-light text-[#6D7077] text-[16px] hover:text-[#FF6D29] cursor-pointer ">adamsmallman123@gmail.com</p>



                <li class="social flex gap-[0.5em] pt-[1em]">

                    <a href="https://www.instagram.com/adamsmallman/" target="_blank"> <img src="/assets/insta_colour.svg"/> </a>

                    <a href="https://www.linkedin.com/in/admaitland/" target="_blank"> <img src="/assets/linkedin_colour.svg"/> </a>

            </li>

        </div>

        <div class="w-full">

        {{ form:contact }}

    {{ if success }}
        <div class="bg-green-300 text-white p-2">
            {{ redirect to="thanks" }}
        </div>
    {{ else }}
        {{ if errors }}
            <div class="bg-red-300 text-white p-2">
                {{ errors }}
                    {{ value }}<br>
                {{ /errors }}
            </div>
        {{ /if }}

            <h2 class="text-[#0C101D] text-[25px] font-bold pb-[1em]">Get in touch</h2>
            <div class="flex flex-col gap-4">
                <input type="text" name="name" placeholder="Name" required class="border border-[#DEDEDE]  p-2"/>
                <input type="email" name="email" placeholder="Email" required class="border border-[#DEDEDE]  p-2"/>
                <textarea name="comment" rows="5" placeholder="Message" required class="border border-[#DEDEDE]  p-2"></textarea>
                <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

                <button type="submit" class="bg-[#FF6D29] text-white py-3 px-4 ">Send</button>
            </div>

            {{ /if }}

            {{ /form:contact }}

        </div>

    </div>

</section>
