
<section id="hero" class=" max-w-[950px] w-[90%] m-auto relative mt-[6em]">

    <div class="heroCon relative z-10 pt-[11em]">

        <div class="title relative">

            <h2 class="heroH2 font-light text-[#DEDEDE] text-[64px] p-0 m-0 absolute pl-[2em] top-[-1em]">Hello I’m</h2>
            <h1 class="heroH1 font-bold text-white text-[80px] p-0 m-0">Adam Smallman</h1>

        </div>

        <p class="font-light text-[#DEDEDE] text-[24px] max-w-[400px]">I love to craft good stories through design and marketing.</p>

        <div class="line-container ml-[20em] mt-[2em]">
            <div class="circle"></div>
            <div class="line"></div>
        </div>

    </div>

    <div class="heroImgCon w-fit absolute right-0 top-0">

     <img class="heroImg" src="/assets/hero-image.png" alt="Adam Smallman Hero Image">

     <a href="https://www.hlrlookup.com/" target=”_blank”  class="badge absolute bottom-[-4em] block right-[-4em] text-center z-20">

        <img src="/assets/Badge.svg" alt="Adam Smallman badge" class="rotating">

        <img src="/assets/HLR-icon.svg" alt="HLR Lookup icon" class="hlrIcon absolute top-0 left-0 right-[10px] bottom-[-5px] m-auto text-center w-[50px]">

     </a>

    </div>

</section>


{{ partial:home/featured-projects }}
