<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    </head>
    <body class="bg-[#0C101D] font-sans leading-normal">

        <section id="startProject" class="bg-white  fixed top-0 bottom-0 left-0 right-0 z-50  p-[5em] m-[3em] overflow-scroll hidden">

        </section>

        {{ partial:nav }}

            {{ template_content }}

            {{ partial:footer }}

            <script>
                const tham = document.querySelector(".tham");

                tham.addEventListener('click', () => {
                  tham.classList.toggle('tham-active');
                  $('.nav').slideToggle();
                });
                </script>
    </body>
</html>
