<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    </head>
    <body class="bg-[#0C101D] font-sans leading-normal">


            {{ partial:nav }}

            {{ template_content }}

            {{ partial:footer }}

            <script>

                const tham = document.querySelector(".tham");

                    tham.addEventListener('click', () => {
                    tham.classList.toggle('tham-active');
                    $('.nav').slideToggle();

                });


                function startContact() {

                    $('html,body').animate({
                        scrollTop: $(".startprojectSection").offset().top},
                        'slow');

                        $('#email').css('color', '#FF6D29');

                }

            </script>
    </body>
</html>
