<footer class=" w-[90%] max-w-[1280px] m-auto pb-[2em]">

    <div class="top flex justify-between items-center border-white border-b-[1px] pb-[5em]">

        <div class="startprojectSection">

            <!-- <a href="" class=" text-white font-medium text-[24] underline">Download my cv</a> -->
            <h2 class="footerH2 text-white text-[35px] font-bold pt-[0.3em]">Have a project in mind<span class="text-[#FF6D29]">?</span></h2>
            <p class="text-[#DEDEDE] text-[16px] font-light pb-[1em]">Send me an email and lets talk</p>

            <div class="flex items-center gap-3 relative  ">

            <img class="w-[25px] h-auto" src="/assets/message_icon.svg" alt="email icon">
            <a href="mailto:adamsmallman123@gmail.com" id="email" class="email text-[#DEDEDE] font-light text-[20px] hover:text-[#FF6D29] cursor-pointer ">adamsmallman123@gmail.com</a>

            </div>

        </div>

        <div>



            <ul class="footerNav flex justify-center gap-[2.5em]  ">

                <li>
                    <div class="text-[#FF6D29] text-[20px] font-bold">01</div>
                    <a href="/" class="{{ if title == 'Adam Smallman' }} on {{ /if }} footerNavItem text-[#DEDEDE] hover:text-white font-light  tracking-wider text-[16px]">PORTFOLIO</a></li>

                    <li>
                        <div class="text-[#FF6D29] text-[20px] font-bold">02</div>
                        <a href="/about" class="{{ if title == 'ABOUT' }} on {{ /if }} footerNavItem text-[#DEDEDE] hover:text-white font-light tracking-wider  text-[16px]">ABOUT</a></li>


                <li>
                    <div class="text-[#FF6D29] text-[20px] font-bold">03</div>
                    <a href="mailto:adamsmallman123@gmail.com" class="footerNavItem text-[#DEDEDE] hover:text-white font-light tracking-wider  text-[16px] cursor-pointer">CONTACT ME</a></li>


             </ul>

            </div>

    </div>

    <div class="bottom pt-[2em] flex justify-between items-center">

        <p class=" text-white text-[13px] font-light">© AdamSmallman.com 2025 | T&C Privacy Policy</p>

        <div class="social flex gap-[0.5em]" >

           <a href="https://www.instagram.com/adamsmallman/" target="_blank"> <img src="/assets/Insta-icon.svg"/> </a>

           <a href="https://www.linkedin.com/in/admaitland/" target="_blank"> <img src="/assets/linkedin-icon.svg"/> </a>

        </div>

    </div>


</footer>
