<header class="pt-8 max-w-[1280px] w-[90%] m-auto flex justify-between items-center">

   <a href="/"> <img src="/assets/logo.svg" alt="Adam Smallman Logo" class="logo"> </a>

    <ul class="nav flex justify-center gap-16 items-center  ">

       <li><a href="/" class="{{ if title == 'Adam Smallman' }} on {{ /if }} text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px]">PORTFOLIO</a></li>
       <li><a href="/about" class="{{ if title == 'ABOUT' }} on {{ /if }} text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px]">ABOUT</a></li>
       <li><a href="mailto:adamsmallman123@gmail.com" class="cursor-pointer text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px] "><img class=" w-[20px] " src="/assets/icon-email.svg"/></a></li>

    </ul>

 </div>

 </header>
