<header class="pt-8 max-w-[1280px] w-[90%] m-auto flex justify-between items-center">

   <a href="/"> <img src="/assets/logo.svg" alt="Adam Smallman Logo" class="logo"> </a>

    <ul class="nav flex justify-center gap-16  ">

       <li><a href="/" class="{{ if title == 'Adam Smallman' }} on {{ /if }} text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px]">PORTFOLIO</a></li>
       <li><a href="/about" class="{{ if title == 'ABOUT' }} on {{ /if }} text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px]">ABOUT</a></li>
       <li><a href="/journal" class="{{ if title == 'JOURNAL' }} on {{ /if }} text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px]">JOURNAL</a></li>
       <li><a href="/contact-me" class="{{ if title == 'CONTACT ME' }} on {{ /if }} cursor-pointer text-[#DEDEDE] hover:text-white font-medium  tracking-wider text-[13px]">CONTACT</a></li>

    </ul>

    <div class="navTab hidden">

    <div class=" tham tham-e-squeeze tham-w-6">
     <div class="tham-box opacity-100">
       <div class="tham-inner bg-white opacity-100" />
     </div>

   </div>

 </div>

 </header>
