<header class="pt-8 max-w-[1280px] w-[90%] m-auto flex justify-between items-center">

   <a href="/"> <img src="/assets/logo.svg" alt="Adam Smallman Logo" class="logo"> </a>

    <ul class="nav flex justify-center gap-16  ">

       <li><a href="/" class=" text-[#DEDEDE] hover:text-white font-medium hover:font-bold tracking-wider text-[13px]">PORTFOLIO</a></li>
       <li><a href="/journal" class=" text-[#DEDEDE] hover:text-white font-medium hover:font-bold tracking-wider text-[13px]">JOURNAL</a></li>
       <li><a href="/about" class=" text-[#DEDEDE] hover:text-white font-medium hover:font-bold tracking-wider text-[13px]">ABOUT</a></li>

    </ul>

    <div class="navTab hidden">

    <div class=" tham tham-e-squeeze tham-w-6">
     <div class="tham-box opacity-100">
       <div class="tham-inner bg-white opacity-100" />
     </div>

   </div>

 </div>

 </header>
