<section id="heroOther" class=" w-[950px] m-auto relative mt-[6em] pb-[6em]">

    <h1 class="heroH1Other font-bold text-white text-[60px] p-0 m-0">{{ title }}</h1>

    <div class="subTitleOther flex pl-[3em] pt-[1em] w-full ">

        <div class="line-containerOther">
            <div class="circleOther"></div>
            <div class="lineOther"></div>
        </div>

        <p class="font-light text-[#DEDEDE] text-[20px] max-w-[600px] pl-[1em] pb-[1em]">{{ subTitle }}</p>

    </div>

</section>
