
    {{ main_pic }}

<section id="heroOther " class="heroProject  m-auto relative bg- mt-[2em] pb-[8em] bg-cover  w-full pt-[8em]" style="background-image: url('{{ glide:url }} '); background-position: {{ focus | background_position }};">

    {{ /main_pic }}

    <div class="w-[90%] m-auto max-w-[1280px] flex flex-col gap-[1.5em]">

<div>

    <p class="projectPSmall text-[#DEDEDE] text-[13px] font-normal ">{{ service_used }}</p>
    <h1 class="font-bold text-white text-[30px] p-0 m-0">{{ title }}</h1>

</div>

<div class="max-w-[400px]">

    <p class="projectPSmall text-[#DEDEDE] text-[13px] font-normal ">SUMMARY</p>
    <h1 class="font-light text-white text-[16px] p-0 m-0">{{ sub_title_text }}</h1>

</div>

</div>


</section>
