{{ partial:com/hero-blog }}



<section class="bg-white">

    <div class="w-[90%] max-w-[1280px] m-auto relative pb-[5em] pt-[5em]">

        <h2 class="text-[#0C101D] text-[16px] font-bold  pb-[1em] max-w-[900px]">{{ sub_title }}</h2>

        <div class="journal-p-wrap textP font-light text-[#6D7077] text-[16px] max-w-[900px] pb-[3em]">{{ text }}</div>


        <div class="showTwo flex justify-between gap-[1em]  relative overflow-auto">

            <div>
                {{ image_one }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_one }}
            </div>

            <div>
                {{ image_two }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_two }}
            </div>


        </div>


        <div class="showTwo flex justify-between gap-[1em] pt-[1em] relative overflow-auto">


            <div>
                {{ image_three }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_three }}
            </div>

            <div>
                {{ image_four }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_four }}
            </div>

        </div>


        <div class="showTwo flex justify-between gap-[1em] pt-[1em] relative overflow-auto">


            <div>
                {{ image_five }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_five }}
            </div>

            <div>
                {{ image_six }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_six }}

            </div>

        </div>


        <div class="showTwo flex justify-between gap-[1em] pt-[1em] relative overflow-auto">


            <div>
                {{ image_long_one }}
                <img class="w-full" src="{{ url }}" alt="{{ alt }}">
                {{ /image_long_one }}
            </div>


        </div>



    </div>

</section>



<section id="nextProject" class="pb-[5em] pt-[5em]">

    <h2 class="h2NexTitle text-white text-[35px] font-bold pt-[0.3em] w-[90%] max-w-[1280px] m-auto">View Next Entry</h2>

    <div class="projectWrap mx-[1.5em] m-auto pt-[2em] flex flex-col gap-[1.5em]">


        {{ collection:articles limit="1" :id:not="id"}}


        {{ main_image }}

                <div class="project bg-cover bg-center w-full p-[5em] pt-[5em]" style="background-image: url('{{ glide:url }}'); background-position: {{ focus | background_position }}; ">

                    {{ /main_image }}

                    <div class="project-con max-w-[400px]">

                        <p class="projectPSmall text-[#DEDEDE] text-[13px] font-normal ">{{ service_used }}</p>
                        <h2 class="projectH2 text-white text-[35px] font-bold pb-[0.5em]  ">{{ title }}</h2>

                        <a href="{{ url }}" class=" border-white border-2 text-white py-[0.8em] px-[1.5em] block w-fit hover:text-[#0C101D] hover:bg-white ">View project</a>

                    </div>

                </div>

        {{ /collection:articles }}


        </div>


</section>



